import React from "react";

export const {{pascalCase name}}: React.FC = () => {
    return (
        <main>
            <h1>{{pascalCase name}}</h1>
        </main>
    );
};

export default {{pascalCase name}};