@use 'sass:color';
@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.inputWrapper {
    position: relative;
}

input, .input {
    box-sizing: border-box;
    width: 100%;
    padding: 1.6rem 5rem 1.6rem 1.6rem;
    border: solid 0.2rem color.scale($color2, $alpha: -60%);
    border-radius: 0.4rem;
    outline: none;

    background-color: $color0;
    color: $color1;

    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.025rem;

    transition: border 200ms;

    & + .icon,
    & + .button--visible {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
    }

    & + .icon,
    & + .button--visible > .icon {
        fill: color.scale($color2, $alpha: -60%);
    }

    &::placeholder {
        color: color.adjust($color1, $alpha: -0.7);
    }

    &:focus {
        border-color: $color2;

        & + .icon,
        & + .button--visible > .icon {
            fill: $color2;
        }
    }

    &:focus::placeholder {
        color: transparent;
    }

    .error & {
        border: solid 0.2rem $color2;

        & + .icon,
        & + .button--visible > .icon {
            fill: $color2;
        }
    }
}

input[type="radio"], .input.input--radio {
    position: absolute;
    left: -999rem;

    opacity: 0;

    &:checked + .radio__circle {
        border: solid 0.2rem $color2;
    }

    &:checked + .radio__circle:after {
        opacity: 1;
    }
}

// Toggle
.input.input--toggle {
    overflow: hidden;
    height: 2rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2rem;

    line-height: 2rem;
    
    opacity: 0;

    &:checked {
        & + .toggle__container:after {
           transform: translateX(0);
        }

        & + .toggle__container > .toggle__handle {
            transform: translate(calc(4rem - 100%), -50%);
        }
    }
}