@use "../variables.scss" as *;

@mixin range-track() {
    width: 100%;
    border: none;
    border-radius: 0;

    background-color: transparent;

    cursor: pointer;
}

@mixin range-thumb($thumbColor: $color2, $height: 1rem, $width: $height) {
    width: $width;
    height: $height;
    border: none;
    border-radius: 50%;

    background: $thumbColor;

    cursor: pointer;

    -webkit-appearance: none;
}