@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.styleguide {
    &__section {
        margin-top: 4rem;

        @include tablet {
            margin-top: 4rem;
        }
    }

    h2 {
        text-align: center;

        margin-bottom: 2rem;

        @include desktop {
            text-align: left;
        }
    }

    &__images {
        display: grid;
        gap: 2rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }
    }

    &__icons {
        display: flex;
        gap: 2rem;
    }

    &__radios {
        display: grid;
        gap: 2rem;
        align-items: end;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
        }
    }

    &__colors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @include mobile {
            grid-template-columns: repeat(3, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(4, 1fr);
            gap: 4rem;
        }

        @include desktop {
            gap: 6rem;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}