@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.icon {
    // Global Styling
    display: inline-block;
    vertical-align: middle;

    position: relative;

    @include icon-dimensions(3.6rem);

    svg {
        position: absolute;
        top: 0;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        fill: black;

        transition: fill $timing-1;
    }
}