@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

input[type=range] {
    display: block;

    position: relative;
    transform-origin: left center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0.5rem;

    background-image: linear-gradient(
        to right,
        $color-1 0 100%,
        $color-gray-2 100% 200%
    );
    box-shadow: none;

    cursor: pointer;
    appearance: none;
    transition: background-image 200ms;

    &::-webkit-slider-runnable-track {
        @include input-range-track();
    }

    &::-webkit-slider-thumb {
        @include input-range-thumb(transparent);
    }

    &::-moz-range-track {
        @include input-range-track();
    }

    &::-moz-range-thumb {
        @include input-range-thumb(transparent);
    }
}