@use '../../scss/variables' as *;

.input.input--checkbox {
    position: absolute;
    left: -999rem;

    height: 1.8rem;
    width: 1.8rem;
    border: none;

    opacity: 0;
}

.checkbox {
    position: relative;

    user-select: none;

    text-transform: none;
}

.checkbox__text {
    display: inline-block;
    vertical-align: middle;

    margin-left: 1rem;

    color: $color3;

    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.025rem;
}

.checkbox__icon {
    display: inline-block;
    vertical-align: middle;

    padding: 0.2rem;
    border: solid 0.1rem $color3;
    border-radius: 0.2rem;

    & > div {
        position: relative;

        height: 1.6rem;
        width: 1.6rem;

        transition: background-color $timing-1;
    }

    .input.input--checkbox:checked ~ & {
        background-color: $color3;

        svg {
            fill: $color0;
            transition: fill $timing-1;
        }
    }
}