@use '../../scss/variables' as *;

.footer {
    text-align: center;

    box-sizing: border-box;
    height: $footer-height;
    padding: 8rem;

    background-color: $color2;

    h2 {
        color: $color0;
    }
}