body { 
    background-color: lighten($color1, 20%);
    
    text-align: center;
}

#root {
    position: relative;

    min-height: 100vh;
}

.header {
    display: table;

    position: relative;

    height: 4rem;
    width: 100%;

    background-color: lighten($color1, 10%);
    box-sizing: border-box;
    
    text-align: center;

    &__text {
        display: table-cell;
        vertical-align: middle;
    }
}

.nav {
    position: absolute;
    top: 50%;
    right: $spacing;
    transform: translateY(-50%);

    &__link {
        margin: 0 $spacing;

        font-size: 1rem;

        &.active {
            color: $color2;
        }
    }
}

main {
    padding-bottom: $spacing * 5;
}

.footer {
    display: table;

    position: absolute;
    bottom: 0;
    left: 0;

    height: 4rem;
    width: 100vw;
    
    background-color: lighten($color1, 10%);

    &__text {
        display: table-cell;
        vertical-align: middle;
    }
}