@use 'sass:color';

$color-1: #40C9A2;
$color-2: #2F9C95;
$color-3: #A3F7B5;
$color-4: #664147;
$color-5: #E5F9E0;

$color-gray-1: #eeeeee;
$color-gray-2: #dddddd;
$color-gray-3: #cccccc;
$color-gray-4: #bbbbbb;
$color-gray-5: #aaaaaa;

$box-shadow-1: 0.2rem 0.2rem 1rem 0.2rem color.adjust(black, $alpha: -0.9);
$box-shadow-2: 0.2rem 0.2rem 0.5rem 0.2rem color.adjust(black, $alpha: -0.9);