@use 'sass:color';
@use '../../scss/variables' as *;

.nav {
    &__list {
        position: absolute;
        top: 100%;
        right: 0;
    
        overflow: hidden;
        width: 100%;
        max-height: 0;

        transition: max-height $timing-2;

        .nav.active & {
            max-height: 11.3rem;
        }

        @media (min-width: $tablet) {
            display: flex;
            align-items: center;

            position: static;
            max-height: 7.2rem;
            width: auto;
    
            transition: none;
        }
    }

    &__item {
        width: 100%;

        &:before {
            display: none;
        }

        @media (min-width: $tablet) {
            width: auto;
        }
    }

    &__link {
        display: block;
        text-align: center;

        position: relative;
        
        padding: 2rem;
        
        background-color: $color0;
        
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;

        transition: color $timing-2;
        

        &.active {
            color: $color3;
        }

        .nav__item & {
            border-bottom: solid 0.1rem $color5;
        }

        @media (min-width: $tablet) {
            background-color: transparent;

            &:after {
                content: '';
                display: block;
    
                position: absolute;
                bottom: 1.4rem;
                left: 50%;
                transform: translateX(-50%);
    
                height: 0.3rem;
                width: calc(100% - 4rem);
    
                background-color: $color3;
    
                opacity: 0;
                pointer-events: none;
                transition: opacity 250ms;
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}