@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

// Range
input[type=range] {
    -webkit-appearance: none;

    height: 0.2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    
    background-color: $color7;
    background-image: linear-gradient(to right, $color3 100%, $color3);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &:focus {
        outline: none;
    }

    // Track Styling
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;

        @include input-range-track;
    }

    &::-moz-range-track {
        @include input-range-track;
    }

    &::-ms-track {
        @include input-range-track;
    }

    &::-ms-fill-lower {
        @include input-range-track;
    }
    
    &::-ms-fill-upper {
        @include input-range-track;
    }

    // Thumb Styling
    &::-webkit-slider-thumb {
        @include input-range-thumb($color2, 1.3rem);

        -webkit-appearance: none;
        margin-top: -0.6rem; // Needed to position thumbs in Chrome
    }
    
    &::-moz-range-thumb {
        @include input-range-thumb($color2, 1.3rem);
    }
    
    &::-ms-thumb {
        @include input-range-thumb($color2, 1.3rem);
    }
}